<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CES-XX | Lab ##</title>
  <link href="static/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap core CSS -->
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <img src="static/img/ita_logo.jpg" height="40px">
      </div>
    </div>
    <div class="row" style="padding-left: 20px;">
      <div class="col-xs-4">
        <form>
          <p><h2>Lab # - Título</h2></p>
          <div class="form-group">
            <p align="justify"><b>Descrição:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus quis eros non maximus. Maecenas commodo a diam ut ultrices. Maecenas consequat porttitor neque id consequat. In lectus orci, eleifend sit amet enim sed, feugiat ullamcorper nunc.</p>
            <p><b>Atividade:</b> <a href="#">CESXX_Lab##.pdf</a></p>
          </div>
          <div class="form-group">
            <label for="inputFile">Enviar solução:</label>
            <input type="file" id="inputFile">
          </div>
          <div class="form-group">
            <input class="btn btn-default" type="submit" value="Submit">
          </div>
          <div class="form-group">
            <p><b>Status:</b> Entregue</p>
            <p><b>Nota:</b> - / 100.0</p>
            <p><b>Data limite:</b> Sex, 22/05/2015 - 23h55</p>
            <p><b>Último envio:</b> Qua, 22/04/2015 - 22h50</p>
            <p><b>Comentário:</b> -</p>
          </div>
          <a href="aluno.html">Voltar</a>
        </form>
      </div>
    </div>
  </div> <!-- end of container -->
</body>
</html>
