<div role="tabpanel" class="tab-pane fade" id={{turma.nome}}>
  <div class="row content">
    <div class="col-xs-12 col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <h3 align="center">Atividades</h3>
          <br>
		  {% for atividade in atividades %}
          <p>{{atividade.data_limite}} - <a href="#"> {{atividade.nome}} </a></p>
		  {% endfor %}
          <br>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <h3 align="center">Abrir nova atividade</h3>
          <br>
          <form method="POST" enctype="multipart/form-data">
            <input type="hidden" name="atividade" value="True">
            <input type="hidden" name="id_turma" value={{turma.id}}>
            {% csrf_token %}
            {{form}}
            <input class="btn btn-default" type="submit" value="Criar">
          </form>
          <br>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <h3 align="center">Outras operações</h3>
          <br>
          <form>
            <div class="form-group">
              <label for="username">Adicionar aluno:</label>
              <input type="text" id="username" placeholder="Username" style="width: 100%;" required>
            </div>
            <button class="btn btn-lg btn-block" type="submit">Adicionar aluno</button>
          </form>
          <br>
          <form method="POST" enctype="multipart/form-data">
            <label for="close_class">Fechar turma:</label>
            <input type="hidden" name="deletar" value="True">
            <input type="hidden" name="id_turma" value={{turma.id}}>
            {% csrf_token %}
            <input class="btn btn-default" type="submit" value="Fechar">
          </form>
        </div>
      </div>
    </div>
  </div> <!-- end of row -->
</div>
