<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="author" content="">
    <!--FAVICON: <link rel="icon" href="">-->
	<title>Athena | Teste do Juiz</title>
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<style type="text/css">
		.caixa {
			height: 200px;
			padding: 10px;
			border: 1px solid #000;
		}
	</style>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<img src="static/img/ita_logo.jpg" style="height: 50px;">
			</div>
		</div>
	</div>
	<br>
	<div class="container-fluid">
		<div class="row">
			<form method="post" enctype="multipart/form-data">
				<div class="col-xs-12 col-sm-6 caixa">
					<div class="form-group">
						<label for="input_file">Arquivo de entrada</label>
						{% csrf_token %}
						{{form}}
    					<p class="help-block">Arquivo de entrada para testar no programa.</p>
					</div>
					<div class="form-group">
						<label for="output_file">Arquivo de saída</label>
						{% csrf_token %}
						{{form}}
    					<p class="help-block">Arquivo de saída para ser comparado com a saída do programa.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 caixa">
					<div class="form-group">
						<p class="help-block">Código-fonte <strong>.c</strong> ou <strong>.cpp</strong> a ser testado.</p>
						{% csrf_token %}
						{{form}}
						<label for="sourceCode">Código-fonte</label>
					</div>
				</div>
				<div class="col-xs-12 caixa" style="border: none;">
					<h4 class="text-center"><strong>Resultado</strong></h4>
					<p class="text-center">
						{{resultado |safe }}
					</p>
					<p align="center">
						<input class="btn btn-default" type="submit" value="Submit">
					</p>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
